page-usuario-error {
    p{
        font-size: 150px;
        text-align: center;
    }

    h1{
        text-align: center;
    }

    .btn-salir{
        height: 45px;
        font-size: 18px;
        background-image: url("./../assets/img/texturas/btn-rojo.jpg");
      }
}